<head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/materialize.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<footer>
  <div style = "height: 2px; background-color: var(--bright-yellow-crayola);">
  </div>
  <div class="container center hide-on-med-and-down">
    <p>
      <span>
        Email: <a href="mailto:davidnierman93@gmail.com"> davidnierman93@gmail.com</a>
      </span>
      <span style="padding-left:5%">
        GitHub: <a href = "https://github.com/dnierman0920">dnierman0920</a>
      </span>
      <span style="padding-left:5%">
        LinkedIn: <a href="https://www.linkedin.com/in/davidnierman/"> davidnierman</a>
      </span>
    </p>
  </div>
  <div class="container left-align hide-on-large-only">
    <ul style="font-size: 200%;">
      <li>
        Email: <a href="mailto:davidnierman93@gmail.com"> davidnierman93@gmail.com</a>
      </li>
      <li>
        GitHub: <a href = "https://github.com/dnierman0920">dnierman0920</a>
      </li>
      <li>
        LinkedIn: <a href="https://www.linkedin.com/in/davidnierman/"> davidnierman</a>
      </li>
    </ul>
  </div>
</footer>