<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <title>David Nierman</title>
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->
    
        <!-- <div class="section no-pad-bot"> -->

        <!--  ###############       LARGE SCREENS / DESKTOPS       ###############-->    
        
        <div class="hide-on-med-and-down">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l6"> 
                        <br>
                        <h3 style="color:var(--bright-yellow-crayola); margin: 1%"> About Me</h3>
                        <p>
                            <%- include('./partials/text/about-me'); %> 
                        </p>
                        <div class="row">
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                Django
                            </div>
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                Express
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                MongoDB
                            </div>
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                PostgresSQL
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>React</div>
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                Node/NodeJS</div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6 right-align" >
                        <br><br>
                        <br>
                        <img src="images/profile_pic.jpg" style="height: 80%; width: 60%" class="yellow_border_round">
                    </div>
                  </div>
            </div>
        </div>
        
        <!--  ###############       SMALL SCREENS / TABLETS MOBILE      ###############--> 
        
        <div class="hide-on-large-only">
            <div class="container center">
                <div class="row">
                    <div class="col s12 m12"> 
                        <br>
                        <h3 style="color:var(--bright-yellow-crayola); margin: 1%"; class="center">
                            About Me
                        </h3>
                        <p style="font-size:300%">
                            <%- include('./partials/text/about-me'); %> 
                        </p>
                        <div style="font-size: 200%">
                            <div class="row">
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    Django
                                </div>
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    Express
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    MongoDB
                                </div>
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    PostgresSQL
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>React</div>
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    Node/NodeJS</div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12" >
                        <br><br>
                        <br>
                        <img src="images/profile_pic.jpg" style="height: 80%; width: 60%">
                    </div>
                  </div>
            </div>
        </div>
        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->
    </body>
</html>
        
        
