<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <title>David Nierman</title>
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->
    
        <div class="section no-pad-bot">
            <div class="container center">
                <br><br>
                <br><br>
                <h3  style="color:var(--bright-yellow-crayola);"> Resume</h3>
                <!-- <div class="container center"> -->
                        <p style="color: #A2A3BB; font-size: 300%; width: 60%; margin: auto" >
                            Please click on the button below to Download a PDF copy of my resume.
                        </p>
                        <br><br>
                        <br>
                            <a href="pdfs/David_Nierman_Resume.pdf" download class="btn center yellow_border_small" style=" width: 60%;font-size: 160%;">
                                    &nbsp &nbsp &nbsp Download Resume
                                <i class="material-icons right">file_download</i>
                            </a>
                    <br><br>
                    <br><br>
                </div>
            </div>
        </div>
        <br><br>
        <br><br>
        <br><br>
        
        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
