<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->
    
        <!-- <div class="section no-pad-bot"> -->

        <!--  ###############       LARGE SCREENS / DESKTOPS       ###############-->    
        
        <div class="hide-on-med-and-down">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l6"> 
                        <br>
                        <h3 style="color:var(--bright-yellow-crayola); margin: 1%"> About Me</h3>
                        <p>
                          Hello! My name is David and I enjoy developing software to solve problems.
                          My interest in software engineering started back in 
                          2017 when my employer was short engineering resources and I decided 
                          to try editing/fixing python scripts that flashed android tablets with
                          custom images — turns out reading/editing previous written code 
                          taught me a lot about python, GitHub and application upkeep!
                          <br></br>
                          Fast-forward to today, and I’ve had the privilege of managing 
                          software engineering projects such as the development of a 
                          quality control application to run diagnostics on android tablets/peripheral hardware
                          and the development of a module for an asset managment application to allow returned 
                          hardware components to be reused.
                          <br></br>
                          To better manage software development projects, I decided to further
                          my education by taking General Assembly's Software Engineering Immersive
                          course to learn best practices to write and maintain DRY, 
                          organized and well documented code.
                          <br></br>
                          My main focus these days is to find the next project that combines
                          my passion for environemental sustainability with my interest in
                          software development.
                          <br></br>
                          Here are a few technologies I’ve been working with recently:
                        </p>
                        <div class="row">
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                Django
                            </div>
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                Express
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                MongoDB
                            </div>
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                PostgresSQL
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>React</div>
                            <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                Node/NodeJS</div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6 right-align" >
                        <br><br>
                        <br>
                        <img src="images/profile_pic.jpg" style="height: 80%; width: 60%">
                    </div>
                  </div>
            </div>
        </div>
        
        <!--  ###############       SMALL SCREENS / TABLETS MOBILE      ###############--> 
        
        <div class="hide-on-large-only">
            <div class="container center">
                <div class="row">
                    <div class="col s12 m12"> 
                        <br>
                        <h3 style="color:var(--bright-yellow-crayola); margin: 1%"; class="center">
                            About Me
                        </h3>
                        <p style="font-size:300%">
                            Hello! My name is David and I enjoy developing software to solve problems.
                            My interest in software engineering started back in 2017 when I began
                            editing/fixing python scripts that were programmed to flash android 
                            tablets with custom images — turns out reading/editing previous written
                            code taught me a lot about python, GitHub and application upkeep!
                          <br></br>
                            Fast-forward to today, and I’ve had the privilege of managing 
                            software engineering projects such as the development of a 
                            quality control application to run diagnostics on android 
                            tablets/peripheral hardware and the development of a module 
                            for an asset managment application to allow returned 
                            hardware components to be reused.
                          <br></br>
                            To better manage software development projects, I decided to further
                            my education by taking General Assembly's Software Engineering Immersive
                            course to learn best practices to write and maintain DRY, 
                            organized and well documented code.
                          <br></br>
                            My main focus these days is to find the next project that combines
                            my passion for environemental sustainability with my interest in
                            software development.
                          <br></br>
                            Here are a few technologies I’ve been working with recently:
                        </p>
                        <div style="font-size: 200%">
                            <div class="row">
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    Django
                                </div>
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    Express
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    MongoDB
                                </div>
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    PostgresSQL
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>React</div>
                                <div class="col s6"><i class="material-icons tiny">chevron_right</i>
                                    Node/NodeJS</div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12" >
                        <br><br>
                        <br>
                        <img src="images/profile_pic.jpg" style="height: 80%; width: 60%">
                    </div>
                  </div>
            </div>
        </div>
        
        
        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
