<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->
    
        <div class="section no-pad-bot">
            <div class="container center">
                <br>
                <h3  style="color:var(--bright-yellow-crayola);"> Get In Touch</h3>
                <!-- <div class="container center"> -->
                        <p style="color: #A2A3BB; font-size: 150%; width: 50%; margin: auto" >
                            I’m currently looking for new opportunities. 
                            Whether you have any questions or just 
                            want to say hi, feel free to send me an email!
                        </p>
                        <br><br>
                            <a href="mailto:davidnierman93@gmail.com" class="btn waves-effect waves-light" style="background-color:var(--bright-yellow-crayola);">
                                 Email Me
                                <i class="material-icons right">send</i>
                            </a>
                    <br><br>
                    <br><br>
                </div>
            </div>
        </div>
        
        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
