<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->
        
        <!--  ###############       CONTENT       ###############-->
        <br>
        <!--  ###############       LARGE SCREENS / DESKTOPS       ###############--> 
        <div class="hide-on-med-and-down">
            <div class="container left-align" style="color: var( --platinum);">
                <p style="color: var(--bright-yellow-crayola); font-size:160%">
                    Hi, my name is 
                <p>
                <h1> David Nierman.</h3>
                <h2 style="color: #A2A3BB"> I create efficiency through engineering.</h3>
                <div class=" left-align" style="width: 53%;">
                    <p style="color: #A2A3BB; font-size: 150%" >
                        I’m a software engineer with a background in Supply Chain Management.
                        I am interested in specializing in backend development specifically 
                        APIs and system architecture.
                    </p>
             </div>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
            </div>
        </div>

        <!--  ###############       SMALL SCREENS / TABLETS MOBILE      ###############--> 

        <div class="hide-on-large-only">
            <div class="container center" style="color: var( --platinum);">
                <p style="color: var(--bright-yellow-crayola); font-size:400%">
                    Hi, my name is 
                <p>
                <h1 style="font-size:700%"> David Nierman.</h3>
                <h2 style="color: #A2A3BB; font-size:650%"> I create efficiency through engineering.</h3>
                <br>
                <div class="center">
                    <p style="color: #A2A3BB; font-size: 400%" >
                        I’m a software engineer with a background in Supply Chain Management.
                        I specialize in backend development specifically APIs and system architecture.
                        Currently, looking for projects related to environmental sustainability.
                    </p>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                    <br><br>
                </div>
            </div>
        </div>

        <!--end of Content -->
      

        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
