<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->
    
        <div class="section no-pad-bot">
            <div class="container center">
                <h3  style="color:var(--bright-yellow-crayola);">
                    Projects
                </h3>
            </div>
        </div>


        <!-- ###########   PROJECT CARDS    ########### -->
        <div class="row">
            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light ">
                        <img class="activator yellow_border_square" src="images/composting_app.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator yellow-crayola-text">
                            Composting Mgmt System(under construction): 
                                <span style="font-size:medium; color:var(--platinum)">
                                    <br>
                                    Django | PostgreSQL | Express | React | Node/NodeJS | JSX 
                                </span>
                            <br>
                            <a href="https://github.com/dnierman0920/composting-mgmt-systems" target="_blank">
                                <img src="images/GitHub-Mark-Light-32px.png" class="hover-image-fire-opal">
                            </a>
                            <a href="https://github.com/dnierman0920/composting-mgmt-systems-api" class="hover-fire-opal">
                                API
                            </a>
                            <a href="https://github.com/dnierman0920/composting-mgmt-systems" target="_blank" class="material-icons hover-fire-opal">
                                open_in_new
                            </a>
                            <i class="material-icons right">more_vert</i>
                        </span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title yellow-crayola-text">
                            Composting Mgmt System
                            <i class="material-icons right">close</i>
                        </span>
                        <p>
                            Web App to Manage Composting Bins, Pickups and Ticketing
                        </p>
                      </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light ">
                        <img class="activator yellow_border_square" src="images/brewery_lager_screenshot.png"> 
                    </div>
                      <div class="card-content">
                        <span class="card-title activator yellow-crayola-text">
                            Brewery Lager: 
                                <span style="font-size:medium; color:var(--platinum)">
                                    <br>
                                    MongoDB | Express | Liquid | Node/NodeJS 
                                </span>
                            <br>
                            <a href="https://github.com/dnierman0920/brewery-lager" target="_blank">
                                <img src="images/GitHub-Mark-Light-32px.png" class="hover-image-fire-opal">
                            </a>
                            <a href="https://brewerylager.herokuapp.com/" target="_blank" class="material-icons hover-fire-opal">
                                open_in_new
                            </a>
                            <i class="material-icons right">more_vert</i>
                        </span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title yellow-crayola-text">
                            Brewery Lager
                            <i class="material-icons right">close</i>
                        </span>
                        <p>
                            An Express Based App that Leverages Mongoose and OpenBrewery API
                            to Look Up and Log a User's Brewery Visits and Beers Tasted.
                        </p>
                      </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light ">
                        <img class="activator yellow_border_square" src="images/caterpillar_game_screenshot.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator yellow-crayola-text">
                            Sleepy & Hungry Caterpillar: 
                                <span style="font-size:medium; color:var(--platinum)">
                                    <br>
                                    Javascript | HTML | CSS
                                </span>
                            <br>
                            <a href="https://github.com/dnierman0920/game-project-Caterpillar" target="_blank">
                                <img src="images/GitHub-Mark-Light-32px.png" class="hover-image-fire-opal">
                            </a>
                            <a href="https://dnierman0920.github.io/game-project-Caterpillar/" target="_blank" class="material-icons hover-fire-opal">
                                open_in_new
                            </a>
                            <i class="material-icons right">more_vert</i>
                        </span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title yellow-crayola-text">
                            Brewery Lager
                            <i class="material-icons right">close</i>
                        </span>
                        <p>
                            A Javasript Based App that Leverages Javascript Canvas, DOM 
                            Manipulation and Timing Functions with Bootstrap Elements to
                            create a browser base.
                        </p>
                      </div>
                </div>
            </div>
            

        </div>
        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
