<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>

    <body>
        <!--  ###############       NAVIGATION BAR       ###############-->

        <%- include('./partials/_nav'); %> 
        
        <!--end of Navigation bar-->

    
        <div class="container center">
          <h3 style="color:var(--bright-yellow-crayola);">Skills</h3>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)">Languages: </h4>
                <span class="med_grey_font">Python | Javascript | Node/NodeJS  | SQL | HTML| CSS</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)">Databases: </h4>
                <span class="med_grey_font">PostgreSQL | MongoDB</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)">APIs & API Platforms:</h4>
                <span class="med_grey_font">REST | Postman</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)">Web Frameworks & Libraries:</h4>
                <span class="med_grey_font">Express | liquidJS | Django | React | Bootstrap</span>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12">
                <h4 style="color:var(--platinum)">Software Management & Deployment:</h4>
                <span class="med_grey_font">Heroku | Command Line | Git | GitHub | Jira</span>
              </div>
            </div>
          </div>
          <br><br>

        <!--  ###############       FOOTER       ###############-->

        <%- include('./partials/footer'); %> 

        <!-- End of Footer -->
    
        <!--  ###############       SCRIPTS       ###############-->

        <!-- add side nav when screen width shrinks -->
        <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });
        </script>

        <!-- Needed for styling using jquery and materialize library -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
        <!-- End of scripts -->

    </body>
</html>
        
        
