/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
  --font: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font_semibold: "SF Mono Heavy", "Fira Code","Fira Mono","Roboto Mono";
  --forest-green-crayola: #62a878ff;
  --charcoal:#2A3D45;
  --bright-yellow-crayola:#f9a620ff;
  --fire-opal:#ef6461ff;
  --platinum: #EBE9E9;
}

.yellow-crayola-text{
  color: var(--bright-yellow-crayola)
}

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  .card .card-reveal{
    background-color: var(--charcoal);
  }
  .nav-wrapper{
    margin-right: 2%;
  }

  nav, footer {
    color: #e5e5e5ff;
    background-color: var(--charcoal);
    font-family: var(--font);
    font-size: 12px;
  }

  nav ul a {
    font-size: 20px;
    color: var(--platinum);
    display:revert;
  }
  nav ul a:hover {
    color: var(--fire-opal);
    background-color: var(--charcoal);
  }

  .sidenav{
    background-color: var(--bright-yellow-crayola);
  }

  .sidenav li > a {
    font-size: 30px;
    line-height: 500%;
    margin-top: 50px;
    color: var(--charcoal);
  }

  body{
    color: #e5e5e5ff;
    background-color:var(--charcoal);
    font-family: var(--font_semibold);
  }

  p{
    font-size: 120%;
  }


  footer{
    color: #e5e5e5ff;
  }

  .yellow_border{
    border: 2px solid #f9a620ff;
    border-radius: 25px;
    padding-top: 1px;
  }

  .yellow_border_small{
    border: 2px solid var(--platinum);
    background-color: var(--bright-yellow-crayola);
    color: var(--charcoal);
    border-radius: 15px;
    height: 40px;
    margin-right: 10px;
  }

  .btn:hover{
    color: var(--fire-opal);
    background-color: var(--charcoal);
  }

  nav i.material-icons {
    display: block;
    font-size: 40px;
}

.card-content{
  background-color: var(--charcoal);
}

.card{
  border: 2px solid var(--bright-yellow-crayola);
  background-color: var(--charcoal);
}

.card .card-image img {
  padding: 1%;
}