/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 :root {
  --font: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font_semibold: "SF Mono Heavy", "Fira Code","Fira Mono","Roboto Mono";
  --forest-green-crayola: #62a878ff;
  --cadet:#4a6d7cff;
  --bright-yellow-crayola:#f9a620ff;
  --fire-opal:#ef6461ff;
  --platinum:#e5e5e5ff;

}

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  nav, footer{
    color: #e5e5e5ff;
    background-color: #4a6d7cff;
    font-family: var(--font);
    font-size: 12px;
  }

  nav ul a {
    font-size: 12px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  body{
    color: #e5e5e5ff;
    background-color: #4a6d7cff;
    font-family: var(--font_semibold);
  }
  footer{
    color: #e5e5e5ff;
    background-color: #f9a620ff;
  }

  .yellow_border{
    border: 2px solid #f9a620ff;
    border-radius: 25px;
    padding: 20px;
  }

  .yellow_border_small{
    border: 2px solid #f9a620ff;
    border-radius: 15px;
    padding:0.0rem 0rem;
    line-height: 200%;
    height: 1%;
    width: 18%;
  }


