<head>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/materialize.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

 <nav>
    <div class="nav-wrapper">
      <a href="index" class="brand-logo">
        <img src="images/D-Logo.png" alt="D" style="width:7%;height:7%;">
      </a>
      <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="about-me">About-Me</a></li>
        <li><a href="contact-me">Contact-Me</a></li>
        <li><a href="skills">Skills</a></li>
        <li><a href="resume">Resume</a></li>
      </ul>
    </div>
    <ul class="sidenav" id="mobile">
      <li><a href="about-me">About Me</a></li>
      <li><a href="contact-me">Contact Me</a></li>
      <li><a href="projects">Projects</a></li>
      <li><a href="skills">Skills</a></li>
      <li><a href="resume">Resume</a></li>
    </ul>
  </nav>

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>